*{
  margin: 0;
  padding: 0;

}
.social_link{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social_link a{
  height: 60px;
  width: 60px;
  background-color: #f5f6fa;
  border-radius:100px;
  box-shadow: 1px 4px 2px 2px #dcdde1;
  text-align: center;
  margin: 10px;
  line-height: 80px;

}
.social_link a:hover i{
  transform: scale(1.4);
}
.social_link i{
  transition: all 0.3s linear;
}
.fa-facebook-f{
  color: #005086;
}
.fa-instagram{
  color: #e97171;
}
.fa-youtube{
  color: #dd2c00;
}
